/* styles for all pages */

body {
    background-image: url("../images/ignasi_pattern_s.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px;
    min-height: 400px;
    margin-bottom: 100px;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

a {
    color: #777777;
    text-decoration: none;  
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav {
    margin-top: 40px;
    margin-right: 100px;
    float: right;
}

div#name h1 {
    color: #ffffff;
    width: 240px;
    padding: 10px;
    background: #4aaaa5;
    float: left;
    margin-top: 35px;
}

header {
    background: white;
    width: 100%;
    height: 75px;
    padding: 1rem;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #666666;
    z-index: 1;
}

.maincontent {
    background-color: #ffffff;
    width: 960px;
    overflow: hidden;
    padding: 10px;
    margin-left: 20px;
    margin-top: 155px;
    margin-bottom: 100px;
}


footer {
    color: #ffffff;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
}

img {
    height: 210px;
    width: 255px;
}

/* index.html styles */

img#lindsey {
    float: left;
    padding-right: 10px;
    height: 100%;
    height: 210px;
    width: 255px;
    margin-top: 30px;
}

p {
    margin-top: 40px;
}

/* portfolio.html styles */

h2 {
    color: #ffffff;
    padding: 5px;
    width: 245px;
    background: #4aaaa5;
    text-align: center;
    position: relative;
    bottom: 70px;
    opacity: .9;
}

div.sushi, div.animal {
    float: right;
}

div.city {
    float: none;
    margin-top: 30px;
}

div.color{
    float: none;
}

div.tree, div.surfing {
    float: right;
    margin-right: 97px;
    margin-left: 97px;
}

/* contact page styles */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #666666;
  }

  div.container {
      margin-top: 30px;
  }
  
/* when screen gets to 980px, apply these styles   */
@media screen and (max-width: 980px) {
    div#name h1 {
        margin-left: 4px;
    }
    
    .maincontent {
        float: left;
        width: 768px;
    }

    div.tree, div.sushi, div.surfing {
        margin-right: 125px;
        margin-left: 50px;
    }

    div.animal {
        float: left;
    }

    div.color, div.city, div.animal {
        margin-left: 50px;
    }

}

/* when screen gets to 768px, apply these styles */
@media screen and (max-width: 768px) {
    .maincontent {
        width: 640px;
    }

    img {
        height: 173px;
        width: 210px;
    }

    h2 {
        width: 200px;
    }

    
    div.tree, div.sushi, div.surfing {
        margin-right: 100px;
        margin-left: 60px;
    }

    div.color, div.city, div.animal {
        margin-left: 60px;
    }

/* when screen gets to 640px, apply these styles */
@media screen and (max-width: 640px) {
    .maincontent {
        width: 550px;
    }

    img {
        height: 288px;
        width: 350px;
    }

    h2 {
        width: 340px;
    }

    img#lindsey {
        height: 288px;
        width: 350px;
        margin-left: 100px;
    }

    p {
        line-height: 30px;
        float: right;
    }

    div.tree, div.sushi, div.surfing, div.city, div.color, div.animal {
        margin-left: 100px;
        float: none;
    }

    div#name h1 {
        width: 100%;
        margin-left: -20px;
        text-align: center;
        margin-top: -17px;
        margin-bottom: 20px;
    }

    nav {
        width: 100%;
        text-align: center;
        float: none;
    }
}
